* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 135px;
}

.background-geral {
    background-image: url('images/background-geral.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 70%; */
    /* margin: auto; */
}

header {
    position: fixed;
    height: 15%;
    width: 100%;
    top: 0;
    background-color: #1B191D;
}

nav {
    display: flex;
}

.menu-superior {
    text-align: center;
    padding: 20px;
    height: 100%;
}

.menu-superior h2,
.menu-superior img {
    padding: 0px 25px;
    margin-top: 12px;
}

.menu-superior h3 {
    font-family: Poppins;
    font-weight: 300;
    font-size: 15px;
}

.menu-superior img {
    height: 50px;
}

.Home-icon img {
    height: 80px;
}

.nome-e-descricao {
    width: 50%;
    height: 45%;
    padding: 50px 0px 0px 50px;
    font-family: poppins;
}

.nome-e-descricao h1 {
    font-size: 70px;
    font-weight: 500;
    line-height: 85px;
}

.nome-e-descricao h2 {
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
    color: #1B191D;
}

.estimated-balance {
    margin: 35px 0 0 50px;
    background-image: url('images/background-geral.png');
    background-size: cover;
    border-radius: 20px;
    /* border: #8A64A9 solid 3px; */
    width: 40%;
    height: 27%;
    padding: 20px;
}

.numbers h3,
h2,
h4 {
    font-family: poppins;
}

.numbers h2 {
    position: relative;
    font-size: 50px;
    font-weight: 400;
    color: #000000;
    bottom: 10px;
}

.numbers h3 {
    font-weight: 400;
}

.numbers h4 {
    position: relative;
    bottom: 25px;
    font-weight: 500;
    font-size: 18px;
}

.numbers span {
    position: relative;
    left: 20px;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
}

.buttons {
    position: relative;
    display: inline-flex;
    margin: 0 10px;
    text-align: center;
    width: 100%;
    right: 10px;

}

.buttons p {
    position: relative;
    font-size: 27px;
    font-weight: 700;
    font-family: poppins;

    padding: 8px 30px 8px 30px;
    border: solid 1px #1B191D;
    margin: 0 7px;
    border-radius: 15px;
    background-color: #1B191D;

}
