* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('images/backgroud-gera-baixa-opac.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 95px;
    max-width: 1400px;
    min-width: 660px;
}

html {
    display: flex;
    justify-content: center;
    width: 100%;

}

/* ------------------------- Header ------------------------------ */



.header {
    display: flex;
    position: fixed;
    top: 0;
    text-align: center;
    width: 1400px;
    justify-content: center;
}

.header {
    background-color: #1B191D;
}

.lista-header {
    display: flex;
    padding: 10px;
}

.header img {
    height: 45px;
    margin: 0 10px;
}

.header li {
    margin: 0 20px;
}

.logo img {
    height: 70px;
}

/* -------------------------- corpo/body ------------------------------- */

.background-do-corpo {
    background-image: url('images/background-geral.png');
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
}

.conteudo-do-corpo {
    height: 100%;
    width: 75%;
    align-content: space-around;
}

.conteudo-superior,
.conteudo-inferior {
    height: 35%;
    padding: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.titulo-descricao,
.showcase-coins,
.estimated-balance,
.news {
    width: 48%;
}

.titulo-descricao h1 {
    line-height: 45px;
    font-size: 40px;
}

.titulo-descricao h2 {
    color: #1B191D;
    font-size: 30px;
    font-style: italic;
}

.titulo-descricao h1,
h2 {
    font-weight: 600;
    margin: 5px 10px;
}

.coin-informacao {
    display: flex;
}

.fundo-showcase {
    background-color: #1B191D;
    border-radius: 15px;
    padding: 10px;
    border: #8A64A9 solid 4px;
}

.fundo-showcase p {
    font-size: 14px;
    margin-left: 10px;
    color: #6e6a6a;
}

.coin-informacao li {
    font-size: 18px;
    margin: 10px;
}

.nome-coin {
    flex-grow: 2;
}

.nome-coin li {
    display: flex;
    align-items: center;
}

.nome-coin img {
    height: 25px;
    margin-right: 10px;
}

.nome-coin span {
    font-size: 14px;
    margin-left: 8px;
    font-weight: 300;
    font-style: italic;
    align-self: flex-end;
}

.porcentagens-coin span {
    font-size: 18px;
    color: #8A64A9;
}

.porcentagens-coin li {
    color: #475C98;
}

.preco-coin,
.porcentagens-coin {
    flex-grow: 1;
}

.porcentagens-coin {
    text-align: end;
}

.estimated-balance {
    padding: 0px 10px;
}

.fundo-balance {
    background-image: url('images/background-geral.png');
    background-size: cover;
    padding: 20px 10px;
    border-radius: 10px;
    height: 100%;
}

.lista-botoes-estimated {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.lista-botoes-estimated li {
    justify-content: center;
    display: flex;
    flex: 1;
    margin: 0px 5px;
    padding: 15px 10px;
    background-color: #1B191D;
    border-radius: 10px;
}

.lista-botoes-estimated p {
    font-size: 20px;
    font-weight: 800;
}

.dados-numeros {
    margin-left: 5px;
}

.balance-number {
    margin: 0;
    font-size: 35px;
    font-weight: 400;
    color: #1B191D;
    line-height: 40px;
}

.lista-botoes-estimated .cor-alternativa {
    background-color: #475C98;
}

.span-do-pnl {
    font-size: 15px;
    margin-left: 15px;
    font-style: italic;
    font-weight: 600;
    color: #1B191D;
}

.news {
    display: flex;
    align-items: start;
    height: 100%;
}

.noticias h2 {
    margin: 0;
    color: #8A64A9;
}

.noticias {
    background-color: #1B191D;
    border: #8A64A9 solid 5px;
    border-radius: 15px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.linha-decorativa {
    background-color: #475C98;
    height: 2px;
    margin: 5px 0px;
}

/* ---------------------------- bottom/footer ------------------------------- */

.fundo-da-pagina {
    background-color: #1B191D;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.lista-footer {
    display: flex;
    justify-content: center;
}

.lista-footer li {
    margin: 0 7px;
}

.fundo-informacoes {
    width: 500px;
    text-align: center;
    padding: 5px;
}

.fundo-da-pagina img {
    height: 50px;
}

/* --------------------------- hovers -------------------------------- */

.lista-header p:hover {
    color: #8A64A9;
}

.lista-footer p:hover {
    color: #8A64A9;
}