* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";

}

body {
    width: 100vh;
    min-width: 430px;
    max-width: 700px;
    margin: auto;
    background-color: aquamarine;
}



button {
    background: none;
    border: none;
}

.nav-header a {
    color: #ffffff;
    text-decoration: none;
}

.nav-header {
    padding: 10px;
    text-align: center;
}

.nav-header img {
    height: 40px;
}

.nav-header button {
    padding: 0px 20px;
}

.Crypton-logo img {
    height: 60px;
}